<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>
    .layout {
        width: 1000px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .title {
        width: 500px;
    }
    .name {
        width: 100px;
    }
    .search {
        resize: none;
        width: 300px;
        length: 20px;
    }
</style>
<body>
    <div class="layout">
        <div>
            <a href="/board/write">글쓰기</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th class="title">제목</th>
                    <th class="name">작성자</th>
                    <th class="date">날짜</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <!--목록에서 INCLUDE 상태인 게시글만 표시하는 if문 추가(삭제부분)-->
                <tr th:each = "post:${posts}" th:if="${post.status.name() == 'INCLUDE'}">
                    <td style="text-align: center;" th:text="${post.id}">1</td>
                    <td>
                        <a th:href="@{/board/{id}/post (id=${post.id})}">
                            <p th:text="${post.title}">제목입니다.</p>
                        </a>
                    </td>
                    <td style="text-align: center;" th:text="${post.name}">정관우</td>
                    <td style="text-align: center;" th:text="${post.postDate}">0년0월0일</td>
                    <td style="text-align: center;" th:text="${post.views}">0</td>
                    <td>
                        <a href="#" th:href="@{/board/{id}/edit (id=${post.id})}">수정</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <form th:href="@{/board/list&s_type}"  method="get" id="searchForm">
                <input class="search" type="text" id="keyward" name="keyward" th:value="${keyward}" placeholder="검색어 입력">
                <button type="submit">검색</button>
            </form>
        </div>
    </div>
</body>
</html>